html {
	
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Generales */
a {
	text-decoration: none;
}

body {
	font-family: 'Nunito';
	color: #000000;
	margin: 0;
}

textarea {
	resize: none;
}

ul {
	padding: 0;
}

.disableBtn {
	cursor: not-allowed !important;
	background-color: #555555 !important;
	border-color: #555555 !important;
}

.disableBtn::before {
	background-color: #555555 !important;
		border-color: #555555 !important;
}

.st-toast-details.svelte-1iga0ni .st-toast-title.svelte-1iga0ni {
	font-size: 1rem !important;
	color: white !important;
}

.st-toast-details.svelte-1iga0ni .st-toast-description.svelte-1iga0ni {
	font-size: 1rem !important;
}

.productoId{
	display: flex;
	margin-top: calc(120vh - 100vh);
}

.productoId__text{
display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.productoId__img{
	img{
			width: 600px;
	height: auto;
	}
}

.carousel-item{
	height: 500px !important;
	background-size: cover
}

.slide-content{
	margin-top: calc(120vh - 100vh);
	margin-left: calc(115vw - 100%);
}

@import '$components/Formulario/Formulario.scss';
@import '$components/Navbar/Navbar.scss';
@import '$components/Home/components/Home.scss';
@import '$components/Home/components/Filter.scss';
@import '$components/Home/components/Cards.scss';
@import '$components/Loader/Loader.scss';