.navbar {
	background-color: black;
	display: flex;
	gap: 1rem;
	div {
		margin-left: auto;
		a {
			width: 100px;
			color: white;
			font-size: 2rem;
			margin-right: 1.7rem;
		}
	}
	a {
		width: 100px;
		color: white;
		font-size: 2rem;
		margin-right: 1.7rem;
	}
}
